h1 {
	color: #1153a6;
	font-size: 100px;
	font-family: "Raleway", sans-serif;
	font-weight:900 ;
	text-align: center;
	margin-bottom: 5px;
}

h3 {
	color:  #16104a;
	font-size: 36px;
	text-align: left;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-top: 5px;
}

ul, body {
	font-size: 20px;
	font-family: "Raleway", sans-serif;
	color: #16104a;
}

